<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title, "Название" %><br>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
  <%= form.label :body, "Описание" %><br>
  <%= form.text_area :body %>
  <% @article.errors.full_messages_for(:body).each do |message| %>
    <div><%= message %></div>
  <% end %>
  </div>

  <div>
    <%= form.label :status, "Статус" %><br>
    <%= form.select :status, ['для всех', 'только для автора', 'черновик'], selected: 'для всех' %>
  </div>

  <div>
  <%= form.submit "Сохранить" %>
  </div>
<% end %>
